*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 24px;
}

body {
  background-color: rgb(255, 60, 200);
}

.newspaper {
  width: 80%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 3rem auto;
  background-color: #36393c;
  color: white;
  padding: 2rem;
}

.newspaper * {
  margin-bottom: 1rem;
}

.newspaper .name,
.newspaper .date {
  text-align: center;
}

.name {
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
}

.name,
.author {
  text-transform: uppercase;
}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.author {
  font-weight: bold;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  font-size: 2em;
  font-weight: bold;
}
